<h1> Artist Finder</h1>
<div>

  <div class="form-group">
    <input class="form-control" id="location" placeholder="Enter a Location" name="location">
  </div>

  <select class="browser-default" name='radius_value' [(ngModel)]="radius" (change)="onSelect()">
    <option value="" disabled selected>Choose a Radius</option>
    <option *ngFor="let radius of radiuses" [value]="radius.value">{{radius.text}}</option>
  </select>

  <input id="artists_name" placeholder="Filter By Names" type="text" [(ngModel)]="pattern">
  <input #genreInput class="validate filter-input" placeholder="Filter By Genres" type="text"
  [(ngModel)]='query'(keyup)='filter()'>

  <div class="suggestions" *ngIf="filteredList.length > 0">
      <ul *ngFor="let genre of filteredList" >
          <li >
              <a class="queryList" #test
              (click)="select(genre); addTodo(genreInput.value)">{{genre}}</a>
              <hr>
          </li>
      </ul>
  </div>
</div>
<span id="sol"></span>
  <div *ngFor="let artist of artists
  | filter:'name':pattern; let i = index" class="item">
    <div [class]="artist.name" [hidden]="artist.hideme"
    *ngIf='query == "" || artist.genre.includes(query)'>
      <div class="lines"></div>
        <h3> {{ artist.name }} </h3>
          <ul id="list">
            <li *ngFor="let one of artist.genre">
              {{one}},
            </li>
          </ul>
        <p> {{ artist.location }} </p>
        <a [routerLink]="['/artist', artist._id]"> View Details </a>
        <div class="lines"></div>
      <br>
    </div>
  </div>
